<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!--page starts from here  -->
    <div id="generate_ticket">
        <h2>Release Slot</h2>
        <!-- form starts from here -->
        <form action="release-action.php" method="post">
          <label for="vehicle_number">Vehicle Number</label>
          <input type="text" id="vehicle_number" name="vehicle_number" required>
      
          <label for="vehicle_type">Vehicle Type</label>
          <select id="vehicle_type" name="vehicle_type" required>
            <!-- options for vehicle type -->
            <option value="">Select vehicle type</option>
            <option value="2-wheeler">2-wheeler</option>
            <option value="4-wheeler">4-wheeler</option>
          </select>
      
          <button type="submit">Release slot</button>
        </form>
        <!-- form ends here  -->
      
</body>
<!-- page end here -->
</html>